# .gitignore

# Ignora la cartella dei risultati del backtest
data_backtest/

# Ignora il file csv dei risultati
backtest_results.csv

# Altre cartelle comuni di Python da ignorare
__pycache__/
*.pyc
